@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --base-clr: #17171d;
    --header-clr: #101014;
    --base-variant: #202024;
    --line-clr: #42434a;
    --hover-clr: #222533;
    --text-clr: #e6e6ef;
    --accent-clr: #fd3d3d;
    --secondary-text-clr: #b0b3c1;
    --primary-clr: #3a435d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', 'sans-serif';
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: var(--base-clr);
    color: var(--text-clr);
}

header{
    margin-top: 0;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: var(--header-clr);
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--accent-clr);
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: var(--text-clr);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active
{
    color: var(--accent-clr);
    border-bottom: 3px solid var(--accent-clr);
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--base-clr);
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: var(--accent-clr);   
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid var(--accent-clr);
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid var(--accent-clr);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: var(--text-clr);
}

.social-icon a:hover{
    color: var(--base-clr);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--accent-clr);
    box-shadow: 0 0 25px var(--accent-clr);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--accent-clr);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--base-clr);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--accent-clr);
    transition: 0.3s ease;
    cursor: pointer;    
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: var(--base-clr);
    color: var(--accent-clr);
    box-shadow: 0 0 25px var(--accent-clr);
}

.projetos .btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--base-clr);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--accent-clr);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid var(--base-clr);
    transition: 0.3s ease;
    cursor: pointer;    
}

.projetos .btn:hover{
    transform: scale3d(1.03);
    background-color: var(--accent-clr);
    color: var(--base-clr);
    box-shadow: 0 0 25px var(--base-clr);
}

.engs{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    display: inline;
    position: relative;
    color: var(--accent-clr);
    text-wrap: none;
}

.digitando{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
    display: inline;
    position: relative;
    color: var(--text-clr);
    text-wrap: none;
}

.heading{
    text-align: center;
    font-size: 7rem;
    margin: 5rem 0;
}

.projetos{
    background-color: var(--header-clr);
    color: black;
}

.projetos h2{
    color: var(--text-clr);
}

.projetos-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.projetos-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-clr);
    height: 800px;
    border-radius: 3rem;
    border: 5px solid transparent;
    transition: 0.4s ease-in-out;
}

.projetos-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.projetos-info i{
    font-size: 8rem;
}

.projetos-info h4{
    font-size: 4rem;
    margin: 2rem 0;
    font-weight: 800;
}

.projetos-info p{
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.7;
    margin-bottom: 17px;
}

.contato{
    background-color: var(--base-clr);
}

.contato h2{
    margin-bottom: 3rem;
    color: var(--text-clr);
}

.contato form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem 0;
    text-align: center;
}

.contato form .input-box input,
.contato form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-clr);
    background-color: var(--base-variant);
    border-radius: 2rem;
    border: 2px solid var(--accent-clr);
    margin: 1.5rem 0;
    resize: none;
}

.footer{
    background-color: var(--header-clr);
    padding: 50px 0;
}

.footer .social-icon{
    text-align: center;
}

.footer ul{
    text-align: center;
    font-size: 1.8rem;
}

.footer ul li{
    display: inline-block;
    margin-left: 20px;
}

.footer ul li a{
    color: var(--text-clr);
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
    border-bottom: 3px solid var(--accent-clr);
}

.footer .copyright{
    text-align: center;
    margin-top: 40px;
    font-size: 16px;
}

.flag-button {
    cursor: pointer;
    border: none;
    background: none;
}
.flag-button img {
    width: 30px;
    height: 20px;
}

@media (max-width:1024px){
    nav{
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        padding: 1rem 3rem;
        background-color: rgba(0, 0, 0, 0.8);
        border-left: 2px solid var(--accent-clr);
        border-bottom: 2px solid var(--accent-clr);
        border-bottom-left-radius: 2rem;
        display: none;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-clr);
    }

    nav.active{
        display: block;
    }

    .home{
        flex-direction: column-reverse;
        margin: 5rem 0;
        gap: 5rem;
    }

    .home-content{
        align-items: center;
        text-align: center;
    }

    .home-img img{
        width: 100%;
    }

    .digitando{
        text-align: center;
    }

    .digitando img{
        width: 100%;
        height: 100%;
    }

    .projetos-box{
        height: 100%;
    }

    .projetos-info p{
        font-size: 1.2rem;
    }

    .projetos-info img{
        width: 80px;
        height: 80px;
    }

    .contato form{
        flex-direction: column;
    }
}